<div id="article">
  <div class ="container" id="home-container">
    <div class="jumbotron-about text-center text-white">
      <h1 class ="display-4 py-4 my-4"> About Us </h1>
      <p class="lead"> Alpha Blog stands with freedom of expression at it's purest form, blogging. My name is Hamdi, i am the founder of Alpha Blog. I created alpha blog as a platform dedicated to user experience of authencity. Accepting bloggers from all corners of the world to share their unique stories & expressing their ideas.</p>
      <hr class="my-4">
      <p> It uses utility classes for typography and spacing to space content within the larger container.</p>
      <a class="btn btn-success btn-lg" href="#" role="button">Contact Us</a>  
    </div>
  </div>
</div>
