@import "bootstrap/dist/css/bootstrap";

// html,
// body {
//   width: 100%;
//   height: 100%;
// }
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  flex-grow: 0;
}
.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: asset-url("jumbo-copy.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 475px;
  margin-top: 50px !important;
}

.jumbotron-about {
  background-image: asset-url("jumbo-about.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 475px;
}

#article {
  margin-top: 50px;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

.container {
  flex-grow: 1;
}

.btn-success {
  margin-top: 70px;
}

// #sticky-footer {
//   flex-shrink: 0;
// }
