<footer id="sticky-footer" class="fixed-footer-bottom py-4 bg-dark text-white width-100 text-center">
  <div class="container">
    <small>Copyright &copy; <%= link_to "Alpha Blog", about_path , class: "text-white"%>
    </small>
  </div>
</footer> 


