 <footer id="sticky-footer" class="fixed-bottom py-4 bg-dark text-white width-100">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Alpha Blog", about_path , class: "text-white"%></small>
  </div>
</footer>


