<footer class="footer-navbar-expand-lg py-4 bg-dark text-white width-100">
  <div class="container-fluid">
    <div class="footer navbar-fixed-bottom pt-2 my-0 mx-auto pb-2 text-center">
      <small>Copyright &copy; <%= link_to "Alpha Blog", about_path , class: "text-white"%>
      </small>
    </div>
  </div>
</footer> 


