

<footer id= "sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small> Copyright &copy; <%= link_to 'Alpha Blog', root_path, class: 'text-white text-decoration-none' %></small>
  </div>
</footer> 




<%# <footer id= 'sticky-footer' class ="footer mt-auto py-3 bg-dark text-center" >
  <div class="container">
    <small class= "text-white">
      Copyright &copy; <%= link_to "Alpha Blog", about_path , class: "text-white"%>
    <%# </small>
  </div>
</footer>  %>